.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-basis: 60px;
  flex-shrink: 0;
  background-color: rgb(94, 94, 94);
}

.pdf-view-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: #999;
}

.react-pdf__Page__textContent {
  display: none;
}

.react-pdf__Page__annotations {
  display: none;
}

.download-container {
  padding: 15px;
  text-align: center;
  background-color: rgb(94, 94, 94);
}